body {
    background-color: lightcyan; 
    color: teal; 
    font-family: Arial; 
    margin: 0px;
}

header {
    background: linear-gradient(to left top, white,lightcyan,teal,black); 
    color: antiquewhite; 
    padding: 10px; 
    font-size: 16pt;
}

main {
    margin: 10px 20px;
}

header:hover {
    color: white;
    font-weight: bold;
    font-size: 20pt;
    text-shadow: 2px 4px 3px DarkSlateGrey;
    transition: 400ms 100ms;
}

footer {
    background: linear-gradient(to right bottom, white,lightcyan,teal,black);
    color:antiquewhite; 
    padding: 15px; 
    font-size: 10pt;
    font-style: italic; 
    text-align: right;
    bottom: 0;
    right: 0;  
    left: 0;
}

footer:hover {
    color: white;
    font-weight: bold;
    font-size: 13pt;
    text-shadow: 2px 4px 3px DarkSlateGrey;
    transition: 400ms 100ms;
}

a {
    color: teal;
}

a:visited {
    color: purple;
    text-decoration: underline;
}

a:hover {
    color: LightSeaGreen;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    text-shadow: 2px 4px 3px DarkSlateGrey;
    transition: 400ms 100ms;
}
a:not(hover) {
    transition: 4s;
}

a:active{
    color: indigo;
    background-color: lavender;
}