body {
    background-color: lightcyan; 
    color: teal; 
    font-family: Arial; 
    margin: 0px;
}

header {
    background: linear-gradient(to left top, white,lightcyan,teal,black); 
    color: antiquewhite; 
    padding: 10px; 
    font-size: 16pt;
}

footer {
    background: linear-gradient(to right bottom, white,lightcyan,teal,black);
    color:antiquewhite; 
    padding: 15px; 
    font-size: 10pt;
    font-style: italic; 
    text-align: right;
}

a {
}

a:visited {
    color: purple;
    text-decoration: underline;
}

a:hover {
    color: teal;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
}

a:active{
    color: indigo;
    background-color: lavender;
}